@font-face {
    font-family: "AvenirNext";
    src: url(../../Assets/Font/Alternativefiles/AvenirNextLTProDemi.ttf);
    font-weight:600;
    font-style: normal;

}

@font-face {
    font-family: "AvenirNext";
    src: url(../../Assets/Font/Alternativefiles/AvenirNextLTPro.ttf);
    font-weight:400;
    font-style: normal;

}
@font-face {
    font-family: "AvenirNext";
    src: url(../../Assets/Font/Alternativefiles/AvenirNextLTProBold.ttf);
    font-weight:700;
    font-style: normal;
}



