@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/Alternativefiles/AvenirNextLTProDemi.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/Alternativefiles/AvenirNextLTPro.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/Alternativefiles/AvenirNextLTProBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "CustomFont";
  src: url(Assets/Font/AvenirNextLTPro-Regular.otf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "CustomFont", sans-serif;
  text-decoration: none;
}

.header {
  background-color: #323232;
  display: block;
  color: #FFFFFF;
}
.header--wrapper {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    gap: 3rem;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 1420px;
    margin: auto;
  }
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__title--name {
  font-family: "CustomFont", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__title--name {
    padding: 0;
  }
}
.header__nav {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.header__nav--title {
  font-family: "CustomFont", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 3rem;
}
.header__nav--title:hover {
  border-bottom: 2px solid white;
}
@media screen and (min-width: 768px) {
  .header__nav--title {
    margin: 0 3rem;
  }
}

.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 26rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1420px;
    margin: auto;
    height: 50rem;
  }
}
.hero__title {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
  }
}

.article__title {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 0;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .article__title {
    font-size: 3.3rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .article__title {
    max-width: 1420px;
    margin: auto;
  }
}

.article {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .article {
    max-width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .article {
    max-width: 1420px;
    margin: auto;
  }
}
.article__bold {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .article__bold {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
  }
}
.article__boldtitle {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
}

.paragraph__title {
  font-size: 1.4rem;
  font-weight: 100;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .paragraph__title {
    font-size: 2rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .paragraph__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.paragraph__first, .paragraph__secound {
  font-size: 1rem;
  font-weight: 100;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .paragraph__first, .paragraph__secound {
    width: 48%;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media screen and (min-width: 1280px) {
  .gallery {
    max-width: 1420px;
    margin: auto;
  }
}
.gallery__heading {
  font-size: 2rem;
}
.gallery__image {
  margin-top: 1.1rem;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 31.33%;
    margin: 6px;
  }
}
.gallery__image:hover {
  filter: none;
}
.gallery__wrapper {
  margin: 1rem auto;
  max-width: 90%;
}
@media screen and (min-width: 768px) {
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  background-color: #323232;
  color: white;
}
.footer__container {
  max-width: 82%;
  margin: auto;
}
@media screen and (min-width: 1280px) {
  .footer__container {
    max-width: 1420px;
    margin: auto;
  }
}
.footer__email {
  color: azure;
}
.footer__logo--name {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--name {
    font-size: 2rem;
    font-weight: 100;
    display: contents;
  }
}
.footer__header {
  font-size: 2rem;
  font-weight: 100;
  width: 13rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-weight: 600;
    width: 13rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding-left: 5rem;
    width: 68%;
  }
}
.footer__wrapper--icons {
  display: flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    padding: 3rem 0;
  }
}
.footer__information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__information__paragraph {
  line-height: 3rem;
}
.footer__information__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__sitename {
  font-size: 2rem;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__sitename {
    display: none;
  }
}
.footer__copyright {
  font-size: 1;
  font-weight: 100;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */