@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/Alternativefiles/AvenirNextLTProDemi.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/Alternativefiles/AvenirNextLTPro.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../Assets/Font/Alternativefiles/AvenirNextLTProBold.ttf);
  font-weight: 700;
  font-style: normal;
}
#logo {
  background-image: url(../Assets/Logo/Logo-bandsite.svg);
  background-position: center;
  width: 118px;
  background-repeat: no-repeat;
  padding: 1rem;
}

.show {
  background-image: url(../Assets/Images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 16rem;
}
@media screen and (min-width: 768px) {
  .show {
    background-size: cover;
    background-position: center;
    height: 27rem;
  }
}
@media screen and (min-width: 1280px) {
  .show {
    display: flex;
    justify-content: center;
  }
}
.show__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 90%;
  margin: auto;
  padding: 2rem;
}
@media screen and (min-width: 1280px) {
  .show__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }
}
.show__title {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .show__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.show__name {
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}
@media screen and (min-width: 768px) {
  .show__name {
    font-size: 2.8rem;
    width: 24rem;
    padding-bottom: 2rem;
    line-height: 4rem;
  }
}
.show__music {
  width: 100%;
  height: 7rem;
  font-size: 2rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .show__music {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .show__music {
    width: 550px;
  }
}

.shows {
  margin: 1rem;
}

.heading {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 1rem 1rem 0;
}
@media screen and (min-width: 768px) {
  .heading {
    padding-left: 5%;
    max-width: 1200px;
    margin: auto;
  }
}

.party__date {
  width: 8.5rem;
}
.party__venue {
  width: 8rem;
}
.party__wrapper {
  margin-bottom: 2rem;
  border-bottom: 1px solid #E1E1E1;
  transition: border-color 0.3s ease;
}
@media screen and (min-width: 768px) {
  .party__wrapper {
    margin-bottom: 1rem;
    max-width: 736px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.party__wrapper * {
  margin: 0 0.8rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .party__wrapper * {
    padding-bottom: 0.9rem;
  }
}
.party__button button {
  width: 90%;
  margin: auto;
  background-color: #323232;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 4px;
  font-family: "AvenirNext";
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .party__button button {
    width: 8rem;
  }
}

.party__wrapper:hover,
.party__wrapper.active {
  background-color: #FAFAFA;
}

.party__wrapper.clicked {
  background-color: #E1E1E1;
}

h3 {
  font-size: 0.7rem;
  color: #afafaf;
  font-weight: 600;
}

p {
  font-weight: 600;
  width: 9rem;
}

p.para__bold {
  font-weight: 400;
  width: 9rem;
}

.footer__copyright {
  width: 100%;
}/*# sourceMappingURL=shows.css.map */